# SPDX-License-Identifier: CC0-1.0

Group "Bash" {
	File (
		Source "rc.bash"
		Target "$HOME/.bashrc"
	)

	File (
		Source "logout.bash"
		Target "$HOME/.bash_logout"
	)

	File (
		Source "funcs.bash"
		Target "$XDG_CONFIG_HOME/bash/funcs.bash"
	)

	File (
		Source "aliases.bash"
		Target "$XDG_CONFIG_HOME/bash/aliases.bash"
	)
}

Include "lib"

Include "completions"
