# SPDX-License-Identifier: CC0-1.0

Group "Neovim" {
	Copy File "colorscheme-codedark.vim" To File "$XDG_CONFIG_HOME/nvim/colors/codedark.vim"
	Copy File "init.vim" To File "$XDG_CONFIG_HOME/nvim/init.vim"
}
