# SPDX-License-Identifier: CC0-1.0

# <https://ghostty.org/docs/config>

# new windows are maximized
window-height = 99999
window-width = 99999

# TODO: set scrollback limit to infinite once supported
#scrollback-limit =

keybind = ctrl+shift+e=new_split:right
keybind = ctrl+shift+o=new_split:down

theme = Ambience from Terminator
cursor-invert-fg-bg = true

# disables ligatures
font-feature = -calt
font-feature = -liga
font-feature = -dlig
