# SPDX-License-Identifier: CC0-1.0

Group "Ghostty" {
	Copy File "theme-ambience-from-terminator.cfg" To File "$XDG_CONFIG_HOME/ghostty/themes/Ambience from Terminator"
	Copy File "config.cfg" To File "$XDG_CONFIG_HOME/ghostty/config"
}
