# SPDX-License-Identifier: CC0-1.0

Group "Bash Completions" {
	File (
		Source "doas.bash"
		Target "$HOME/.local/etc/bash_completion.d/doas.bash"
	)

	File (
		Source "adb.bash"
		Target "$HOME/.local/etc/bash_completion.d/adb.bash"
	)

	File (
		Source "gradle.bash"
		Target "$HOME/.local/etc/bash_completion.d/gradle.bash"
	)
}

Include "git"
