# SPDX-License-Identifier: CC0-1.0

Group "Bash Completions for custom Git commands" (
	File (
		Source "git-prune-local-branches.bash"
		Target "$HOME/.local/etc/bash_completion.d/git-prune-local-branches.bash"
	)

	File (
		Source "git-sync.bash"
		Target "$HOME/.local/etc/bash_completion.d/git-sync.bash"
	)
)
