# SPDX-License-Identifier: CC0-1.0

Group "GTK" {
	# TODO: I don't know if the 2.0 one is still necessary or even does anything.
	Copy File "settings-2.0.ini" To File "$XDG_CONFIG_HOME/gtk-2.0/settings.ini"
	Copy File "settings-3.0.ini" To File "$XDG_CONFIG_HOME/gtk-3.0/settings.ini"
}
