# SPDX-License-Identifier: CC0-1.0

Group "ruby-bundler" {
	# This may be a YAML file, but Bundler doesn't say so in their documentation, so it's not known for sure.
	Copy File "config.cfg" To File "$XDG_CONFIG_HOME/bundle/config"
}
