# SPDX-License-Identifier: CC0-1.0

# See crontab(5) for more information.

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# dom = day of month(s)

# mon = month(s)

# dow = day(s) of week:
#  1 = monday
#  2 = tuesday
#  3 = wednesday
#  4 = thursday
#  5 = friday
#  6 = saturday
#  7 = sunday

########################################################################################################################
#   Minute(s)  | Hour(s) | dom | mon | dow | Command

    # It keeps fucking coming back (it may be the the Slack desktop app).
    0,15,30,45   *         *     *     *     rmdir -- "$HOME/Downloads"

    0,15,30,45   9-23      *     *     *     "$HOME/.local/bin/gnome-shell-notify-send" 'Hydration Reminder'

#   Minute(s)  | Hour(s) | dom | mon | dow | Command
########################################################################################################################
