# SPDX-License-Identifier: CC0-1.0

Group "VSCodium" {
	Copy File "custom-cspell-dictionary.txt" To File "$XDG_CONFIG_HOME/VSCodium/User/cSpell-dictionaries/public.txt"
	Copy File "settings.jsonc" To File "$XDG_CONFIG_HOME/VSCodium/User/settings.json"
	Copy File "keybindings.jsonc" To File "$XDG_CONFIG_HOME/VSCodium/User/keybindings.json"
}
