# SPDX-License-Identifier: CC0-1.0

Group "clipboard" {
	Copy File "clipboard.sh" To File "$HOME/.local/bin/clipboard"
}

Group "determine-shared-prefix" {
	Copy File "determine-shared-prefix.bash" To File "$HOME/.local/bin/determine-shared-prefix"
}

Group "lenny" {
	Copy File "lenny.sh" To File "$HOME/.local/bin/lenny"
}

Group "remove-shared-prefix" {
	Copy File "remove-shared-prefix.bash" To File "$HOME/.local/bin/remove-shared-prefix"
}

Group "repeat" {
	Copy File "repeat.sh" To File "$HOME/.local/bin/repeat"
}

Group "retry" {
	Copy File "retry.sh" To File "$HOME/.local/bin/retry"
}

Group "rmtree" {
	Copy File "rmtree.sh" To File "$HOME/.local/bin/rmtree"
}

Group "ruby-bundler-wrapper" {
	Copy File "ruby-bundler-wrapper.sh" To File "$HOME/.local/bin/_ruby_bundler_wrapper"
}

Group "shasum-dir" {
	Copy File "shasum-dir.py" To File "$HOME/.local/bin/shasum-dir"
}

Group "slugify" {
	Copy File "slugify.sh" To File "$HOME/.local/bin/slugify"
}

Group "sortfile" {
	Copy File "sortfile.sh" To File "$HOME/.local/bin/sortfile"
}

Group "termfx" {
	Copy File "termfx.bash" To File "$HOME/.local/bin/termfx"
}

Include "git"
